/* color vars */
$navColor: rgb(56, 168, 50)
$buttonColor: rgb(56, 168, 50)
    
#root
    background: url(background.jpg) no-repeat center center fixed
    background-size: cover
    height: 100%
    overflow: hidden
    
#myMap
    height: 100%

.popup-content
    display: flex
    flex-direction: column
    align-items: center
    img
        border-radius: 50%
        width: 100%
        max-width: 150px
        max-height: 150px

header
    background-color: $buttonColor